<!DOCTYPE html>
<md-dialog style="overflow: hidden" aria-label="About Page">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div layout="column">
                    <span class="md-title">About Project Defender - Manager</span>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons step" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="overflow: hidden">
            <div class="md-dialog-content">
                <h5>
                    Project Defender - Manager is Powered by AngularJS under MIT License
                </h5>
                <a href="https://github.com/dfrtz/project-defender">Github - Project Defender Manager</a>
                <ul>
                    <li>
                        <b>Angular</b>
                        <br/>
                        Copyright (c) 2010-2017 Google, Inc. http://angularjs.org
                    </li>
                </ul>
                <pre>
                    Permission is hereby granted, free of charge, to any person obtaining a copy
                    of this software and associated documentation files (the "Software"), to deal
                    in the Software without restriction, including without limitation the rights
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                    copies of the Software, and to permit persons to whom the Software is
                    furnished to do so, subject to the following conditions:

                    The above copyright notice and this permission notice shall be included in
                    all copies or substantial portions of the Software.

                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.
                </pre>
            </div>
        </md-dialog-content>

        <!--<md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Dismiss
            </md-button>
            <span flex></span>
        </md-dialog-actions>-->
    </form>
</md-dialog>
